body {
  background-color: wheat;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.flex-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: center;
}

.glassblack {
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 50px;
  width: 350px;
}

.container-center {
  height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.margin {
  margin: 10% 0;
}

.pading {
  padding: 10% 0;
}

.containn {
  background: rgba(176, 120, 70, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.self-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  align-content: center;
}
.glassblue {
  background: rgba(24, 104, 213, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 75%;
}

.marggin {
  margin: 5% 0;
}
.padding {
  padding-block: 5% 10%;
  writing-mode: horizontal-tb;
}

.pad {
  padding: 10px 50px 20px;
}

.colorbgg {
  background-color: hsla(50, 33%, 25%, 0.75);
  color: rgb(255, 255, 204);
}

.flex-contain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}

.glassgrey {
  background: rgba(89, 227, 146, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glasspink {
  background: rgba(226, 114, 209, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.colorbg {
  background: rgb(153, 102, 153);
  color: rgb(255, 255, 204);
}

.testbutton {
  font-family: arial;
  color: #14396a !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866a3;
  background: #63b8ee;
  background: linear-gradient(to top, #63b8ee, #468ccf);
}

.neon {
  background: linear-gradient(to bottom right, yellow, green);
  box-shadow: 8px 8px 10px 0px deeppink, -5px -5px 5px 0px blue,
    5px 5px 15px 0px yellow;
  padding: 0em 1em;
  border-radius: 16px;
  border-style: solid;
  margin-left: 10px;
  font: 24px sans-serif;
  line-height: 2;
}

.cadre {
  box-sizing: content-box;
  width: 100%;
}

.block {
  block-size: auto;
  writing-mode: horizontal-tb;
}

.grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px;
}

.glassy {
  background: rgba(232, 209, 20, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contain {
  background: rgba(126, 211, 33, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
